@media all and (max-width: 2020px) {
    .Assets {
        display: none !important;
    }
}

.Asset {
    margin: 10px;
}

.assetPrice {
    font-weight: 800;
    font-size: 32px;
}

.assetVariation {
    font-weight: 700;
    font-size: 20px;
}

.assetPercentVariation {
    font-weight: 700;
    font-size: 17px;
}

.assetSymbol {
    font-size: 20px;
}

.assetName {
    font-size: 17px;
}