body {
    background-color: #f2f2f2;
    color: #444444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.subtitle {
    font-weight: 900;
}

p {
    font-size: 110%;
    line-height: 220%;
}

/* Colors */

.green {
    color: #135728;
}

/* Font sizes */

.fs-17 {
    font-size: 17px;
}

.fs-20 {
    font-size: 20px;
}

.fs-32 {
    font-size: 32px;
}

.fs-70 {
    font-size: 70px;
}

.forms {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/* Responsive things */

@media all and (max-width: 1200px) {
    .Assets {
        display: none !important;
    }
}

@media all and (max-width: 992px) {
    .responsive-columns {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
