.Navbar {
    background-color: #282c34;
    margin-bottom: 20px;
}

.Navbar-items {
    display: flex;
    margin: 0 20% 0 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
}

.Navbar-login {
    margin: 5px 0 5px auto;
}