.ResultsColumn {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    grid-row-gap: 100px;
}

.ResultsValue {
    font-weight: 500;
    font-size: 24px;
}

.ResultsValueNumber {
    color: #135728;
    font-weight: 900;
    font-size: 70px;
}